.form-container{
  padding: 70px;
  margin: 0 auto;
}
.forwidth
{
  margin: 0 auto;
  padding: 30px;
  

}

.forpadding{
  padding: 70px;
}

#indexwala{
  text-align: center;
}

#forbutton{
  
  margin: 10px;
}

#foreditbutton{

  margin: 10px;
}